<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner detail title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1>Downloads</h1>
    </div>
  </div>
  <div class="mdc-layout-grid__inner detail">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <h3>Scotland's Essential Digital Skills Toolkit</h3>
      <p>
        SCVO has developed this toolkit to help you make practical use of the framework. It contains simple checklists for measuring Foundation Skills and Essential Skills, and guidance on how to interpret the results.
      </p>
      <h4>
        <a href="{{>asset_url url="documents/eds-measuring-understanding.pdf"}}" class="mdc-button" rel="noopener" download><span class="fas fa-file-pdf" aria-hidden="true"></span>&ensp;Full toolkit</a>
      </h4>
      <h4>
        <a href="{{>asset_url url="documents/essential-skills-checklist.pdf"}}" class="mdc-button" rel="noopener" download><span class="fas fa-file-pdf" aria-hidden="true"></span>&ensp;Essential skills checklist</a>
      </h4>
      <h4>
        <a href="{{>asset_url url="documents/foundation-skills-checklist.pdf"}}" class="mdc-button" rel="noopener" download><span class="fas fa-file-pdf" aria-hidden="true"></span>&ensp;Foundation skills checklist</a>
      </h4>

      <hr />

      <h3>Brand guidelines</h3>

      <p>Download the resources below to help you promote your commitment to the Charter amongst your staff and stakeholders.</p>

      <h4>
        <a href="{{>asset_url url="brand-guidelines/Brand-Guidelines-for-Signatories.pdf"}}" class="mdc-button" rel="noopener" download><span class="fas fa-file-pdf" aria-hidden="true"></span>&ensp;Brand guidelines</a>
      </h4>

      <h4>
        <a href="{{>asset_url url="brand-guidelines/Signatory-Logo-Suite.zip"}}" class="mdc-button" rel="noopener" download><span class="fas fa-file-archive" aria-hidden="true"></span>&ensp;Full logo suite</a>
      </h4>

      <hr class="margin-top" />
    </div>
  </div>
</div>