<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner detail title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1><a href="/resources">Resources</a></h1>
      <h2>Downloads</h2>
    </div>
  </div>
  <div class="mdc-layout-grid__inner detail">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <h3>Scotland's Essential Digital Skills Toolkit</h3>
      <p>
        SCVO has developed this toolkit to help you make practical use of the framework. It contains simple checklists for measuring Foundation Skills and Essential Skills, and guidance on how to interpret the results.
      </p>
      <h4>
        <a href="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/10/SCV-05-Report-A4-Portrait-V5.pdf">Full toolkit</a> (PDF)
      </h4>
      <h4>
        <a href="{{>asset_url url="essential-skills-checklist-2019-02.pdf"}}">Essential skills checklist</a> (PDF)
      </h4>
      <h4>
        <a href="https://storage.googleapis.com/scvo-cms/scvo-cms/wp-content/uploads/2018/09/EDS-Checklist.pdf">Foundation skills checklist</a> (PDF)
      </h4>
      <hr />

      <p>Download the resources below to help you promote your commitment to the Charter amongst your staff and stakeholders.</p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Brand-Guidelines-for-Signatories.pdf" download>Brand guidelines</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-FullColour-RGB.png" download>Charter signatory logo (colour) for use on screens</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-White-RGB.png" download>Charter signatory logo (white) for use on screens</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-FullColour-CMYK.eps" download>Charter signatory logo (colour) for use in print</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-White-CMYK.eps" download>Charter signatory logo (white) for use in print</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-Suite.zip" download>Download full logo suite (zipped file)</a></p>

    </div>
  </div>
</div>