{{#each (sortBy (keyValue (getProperty @root.data.profile.notes id)) "key" "desc")}}
  <div class="note x-padding-full t-border mdc-theme--primary-light-border-top">
    <h4 class="note-head mdc-typography--headline7">
      <div class="pull-right mdc-chip-set">
        <div class="mdc-chip" tabindex="0">
          <div class="mdc-chip__text">
            {{this.value.status}}
          </div>
        </div>
      </div>
      {{momentFormat (moment this.key "x") "Do MMMM YYYY HH:mm"}}
    </h4> 
    <div class="note-contents">
      {{{markdown this.value.note}}}
    </div>
  </div>
{{/each}}