<div class="mdc-card search-result" data-fund-id="{{Id}}">
  {{> fund_key_info}}
  <hr class="mdc-list-divider" />
  {{#ifAll (getProperty @root.data.profile.notes Id) (compare hideNotes "!==" true) ~}}
    {{> fund_description limit="3rem" description=description}}
    {{> fund_notes limit=(if showFullNotes false else="3rem")}}
  {{else}}
    {{> fund_description limit="6rem" description=description}}
  {{/ifAll ~}}
  {{> fund_actions slug=slug Id=Id title=title actions=actions}}
</div>