<div class="mdc-card search-result" style="max-height:15rem;" data-fund-id="{{Id}}" data-fund-context="search-result">
  {{> fund_key_info}}
  <hr class="mdc-list-divider" />
  {{#ifAll (getProperty @root.data.profile.notes Id) (compare hideNotes "!==" true) ~}}
    {{> fund_description description=description}}
    {{> fund_notes}}
  {{else}}
    {{> fund_description description=description}}
  {{/ifAll ~}}
  {{> fund_actions slug=slug Id=Id title=title actions=actions}}
</div>