<div class="page">
  <div class="splash-image splash-image-scvo-cms-page" style="background-image: url('https://storage.googleapis.com/scvo-cms/scvo-assets/test/scvo/images/home/charityawards-bg.jpg');">
    <div class="splash-overlay splash-overlay-hidden">
      <div class="container-fluid">
        <div class="mdc-layout-grid">
          <img src="https://storage.googleapis.com/scvo-cms/scvo-wordpress-media/2019/02/J017-SCA2019-LOGO-NO-DATE-e1549871829679.png" alt="Scottish Charity Awards 2019 Voting" class="header-text">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <ul class="breadcrumbs" aria-hidden="true">
      <li><a href="/">Home</a></li>
      <li><a href="/scottish-charity-awards">Scottish Charity Awards</a></li>
      <li>Vote</li>
    </ul>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}

          {{#each @root.data.supplimentaryResponses.categories.aggregations.categories.buckets ~}}
          {{!-- <h3><a href="">{{{title}}}</a></h3>

          {{{truncate (stripTags content) 280}}}

          <p><a href="">View nominees</a></p> --}}
          {{/each ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menus_charity_awards}}
        </div>
      </div>
    </div>
  </div>
</div>