<div class="page">
  {{> header_splash}}
  <div class="container-fluid content page-content">
    {{> breadcrumbs}}

    <br />

    <div class="mdc-layout-grid equal-height support support-organisation support-digital">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card participation">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/new/participation"><span class="fal fa-fw fa-hand-point-up fa-2x"> </span>Participation</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/new/participation">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Skill up, get involved and help others
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/new/participation">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card evolution">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/new/evolution"><span class="fal fa-fw fa-lightbulb-on fa-2x"> </span>Evolution</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/new/evolution">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Upgrade your organisation's digital awareness
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/new/evolution">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          {{#with @root.data.supplimentaryResponses.related_events.hits ~}}
            {{#compare total ">" 0 ~}}
              <div class="mdc-card events">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">
                    <a href="/digital/events"><span class="fal fa-fw fa-handshake fa-2x"> </span>Events</a>
                  </h1>
                </section>
                <section class="mdc-card__media"><a href="/digital/new/events">&nbsp;</a></section>
                <section class="mdc-card__supporting-text">
                  We have {{total}} upcoming event{{#compare total ">" 1}}s{{/compare}}
                </section>
                <section class="mdc-card__actions">
                  <a class="mdc-card__action" href="/digital/events">See more upcoming events</a>
                </section>
              </div>
            {{else}}
              <div class="mdc-card research">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">
                    <a href="/digital/participation/reports"><span class="fal fa-fw fa-university fa-2x"> </span>Research</a>
                  </h1>
                </section>
                <section class="mdc-card__media"><a href="/digital/participation/reports">&nbsp;</a></section>
                <section class="mdc-card__supporting-text">
                  Check out our growing library of resources, reports and links on developing digital potential
                </section>
                <section class="mdc-card__actions">
                  <a class="mdc-card__action" href="/digital/participation/reports">Find out more</a>
                </section>
              </div>
            {{/compare ~}}
          {{/with ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card funding">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/new/funding"><span class="fal fa-fw fa-chart-bar fa-2x"> </span>Funding</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/new/funding">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              See open funds and recent awards
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/new/funding">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card skills">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/new/skills"><span class="fal fa-fw fa-graduation-cap fa-2x"> </span>Essential skills</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/new/skills">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Get the Toolkit
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/new/skills">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card blog latest_content">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/blogs"><span class="fal fa-fw fa-comments fa-2x"> </span>Latest blog</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              {{{@root.data.supplimentaryResponses.related_posts.hits.hits.0._source.rendered.scvo_gist}}}
            </section>
            <section class="mdc-card__actions">
              <a class="mdc-card__action" href="/digital/blogs">Read more blog posts</a>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="/digital/about" class="mdc-button mdc-button--raised mdc-button--full">
            Sign up for our e:bulletin
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://twitter.com/digiscot" class="mdc-button mdc-button--raised mdc-button--full">
            Follow us on Twitter
            <i class="fab fa-twitter fa-fw"></i>
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="mailto:digital@scvo.org.uk" class="mdc-button mdc-button--raised mdc-button--full" target="_blank">
            Email us
            <i class="fas fa-envelope fa-fw"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid logos">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h3>Our digital work delivered in partnership with</h3>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="http://gov.scot">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/scotgov.png" alt="The Scottish Government" />
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://beta.gov.scot/policies/digital/">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/digiscot.png" alt="Digital Scotland" />
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://biglotteryfund.org.uk">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/biglottery.png" alt="Big Lottery Fund" />
          </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="http://onedigitaluk.com">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/onedigital.png" alt="OneDigital" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>