<div id="detailed-results-container" class="container-content content-achievements">
  <h1 class="mdc-typography--headline4">
    Achievements
  </h1>

  <div class="mdc-layout-grid achievements">
    <div class="mdc-layout-grid__inner">
      {{#each (split "10,25,50,100,200,500" ",") ~}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        {{#compare (sumArray (pluck @root.data.tasksInfo "hours")) ">=" this ~}}
        <img src="{{~>asset_url url=(concat 'images/badges/' this '.png') ~}}" class="responsive-img" />
        <div class="mdc-typography--body1 description">
          Complete! <a href="/sample-hours-check/">Click here to Claim</a>
        </div>
        {{else}}
        <img src="{{~>asset_url url=(concat 'images/badges/' this 'bw.png') ~}}" class="responsive-img" />
        <div class="mdc-typography--body1 description">
          {{subtract this (sumArray (pluck @root.data.tasksInfo "hours"))}} {{inflect (subtract this (sumArray (pluck @root.data.tasksInfo "hours"))) "hour" "hours"}} to go
        </div>
        {{/compare ~}}
      </div>
      {{/each ~}}
    </div>
  </div>
</div>