<div class="container-fluid container-content">
  <h1 class="mdc-typography--headline4">
    Celebrating youth volunteering in Scotland
  </h1>
  <h2 class="mdc-typography--headline6">
    Aged 12-25 and volunteer?
  </h2>
  <p class="mdc-typography--body2">
    The Saltire Awards are the Scottish Government’s way of celebrating, recognising and rewarding the commitment, contribution and achievements of young volunteers in Scotland.
  </p>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="/sign-up" class="mdc-button mdc-button--raised">Register now</a>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="/sign-in" class="mdc-button mdc-button--raised">Sign in</a>
      </div>
    </div>
  </div>
</div>