<div class="container-fluid container-content">
  <h1 class="mdc-typography--headline4">
    Celebrating youth volunteering in Scotland
  </h1>
  <h2 class="mdc-typography--headline6">
    Aged 12-25 and volunteer?
  </h2>
  <p class="mdc-typography--body2">
    The Saltire Awards are the Scottish Government’s way of celebrating, recognising and rewarding the commitment, contribution and achievements of young volunteers in Scotland.
  </p>
</div>