<div class="container-fluid container-content content-page">
  <h1>Parent or guardian verification</h1>
  <h2>Parent or guardian verification has failed. Please contact us at [SUPPORT EMAIL] for more assistance</h2>
</div>