<div class="container-content content-account">
  <h2>Parent or guardian verification</h2>
  <p>Parent or guardian verification has failed. Please contact us at [SUPPORT EMAIL] for more assistance</p>
</div>