<div class="container-fluid container-content content-page">
  <h1>Parental verification needed. An email has been sent to {{@root.data.accountInfo.parental_verification_email}} please
  ask the your parent or guardian to click the link in that email</h1>
</div>