<div class="container-fluid container-content content-page">
  <h1>Parent or guardian verification successful. {{@root.data.accountInfo.first_name}} will now be able to use all the features of this site.</h1>
</div>