
<div class="container-content content-account">
  <h2>{{#compare @root.data.accountInfo.user_type "===" "Volunteer"}}Parent or guardian{{else}}Group Administrator{{/compare}} verification</h2>
  <p>{{#compare @root.data.accountInfo.user_type "===" "Volunteer"}}Parent or guardian{{else}}Group Administrator{{/compare}} verification has failed. Please contact us at [SUPPORT EMAIL] for more assistance</p>
</div>