<div id="detailed-results-container" class="container-content lists fundingscotland-lists">
  <h1 class="mdc-typography--headline3 v-margin-full">
    Hidden funds
  </h1>

  {{#each @root.data.primaryResponse.hits.hits ~}}
    {{> fund_search_result _source sort=sort actions="more-fund,unhide-fund"}}
  {{/each ~}}
</div>