<div id="detailed-results-container" class="container-content lists fundingscotland-lists">
  <h1 class="mdc-typography--headline3 v-margin-full">
    Lists
  </h1>
  <div class="mdc-list-group">
    <ul class="mdc-list">
      {{#each @root.data.shortlistPartitions.items.[0]}}
        <li class="mdc-list-item" {{#if first}}tabindex="0"{{/if}}>
          <span class="mdc-list-item__text">
            {{partition}}
          </span>
          <span class="mdc-list-item__meta">{{!--
            {{#> ajax_chip
              onUrl=(concat "/save-fund?id=" ../Id "&name=" partition)
              offUrl=(concat "/remove-fund?id=" ../Id "&name=" partition)
              onText="Remove"
              offText="Add"
              iconClasses="far fa-plus"
              on=(contains (getProperty (querystring querystring) "id") ../Id)
            }}
            {
              "extraAttributes": "data-fund-id=\"{{../partition}}\"",
              "onClasses": {
                "[data-fund-id=\"{{../partition}}\"] .mdc-chip__icon": "mdc-chip__icon--leading-hidden"
              },
              "offClasses": {
                "[data-fund-id=\"{{../partition}}\"]": "mdc-theme--on-secondary mdc-theme--secondary-bg"
              }
            }
            {{/ajax_chip}}--}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>