{{#ifAll @root.request.params.query.s1 @root.request.params.query.s2 @root.request.params.query.s3 @root.request.params.query.s4 @root.request.params.query.income_band  @root.request.params.query.topic @root.request.params.query.area ~}}
<form action="/checkup/results" method="post" class="checkup-section b-padding-full" id="checkup-confirmation">
  {{> checkup_scores section=@root.request.body.score-section}}
  <div class="checkup-section-header b-padding-full v-margin-full">
    <div class="container-fluid">
      <div class="container-content">
        {{> checkup_progress progress=95}}
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              <img src="{{~>asset_url url='images/icon-confirm@2x.png'~}}" title="Confirmation" class="icon" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
              <h1 class="mdc-typography--headline3">Confirmation</h1>
              <div class="mdc-typography--body1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-content">
      <div class="mdc-typography--body2">
        * required information
      </div>

      <div class="question-block mdc-elevation--z3">
        <div class="question">
          <h2 class="mdc-typography--headline5 question-title">Would you like additional support from a local infrastructure organisation in {{@root.request.body.area}} based on your responses? *</h2>
          <div class="mdc-typography--body1 question-description">This could be funding, events, training and 1:1 support</div>
        </div>
        <ul class="answer-block">
          <li class="answer">{{> components_radio_button label="Yes please - I'd like support to help put this into action" id="yes" name="support" value="true"}}</li>
          <li class="answer">{{> components_radio_button label="No thanks!" id="no" name="support" value="false"}}</li>
        </ul>
      </div>

      <div class="cta b-padding-full">
        <button type="submit" class="mdc-button mdc-button--raised">Submit</button>
      </div>
    </div>
  </div>
</div>
{{else}}
{{> checkup_error}}
{{/ifAll}}