{{#ifAll 
    @root.request.body.section-1-score
    @root.request.body.section-2-score
    @root.request.body.section-3-score
    @root.request.body.section-4-score
    @root.request.body.section-5-score
    @root.request.body.section-6-score
    @root.request.body.income_band
    @root.request.body.topic
    @root.request.body.score-section
    @root.request.body.name
    @root.request.body.email
    @root.request.body.web_organisation
    @root.request.body.area
    @root.request.body.postcode}}
<form action="/checkup/submit" method="post" class="checkup-section b-padding-full" id="checkup-confirmation">
  {{> checkup_scores query_params=@root.request.body}}
  <div class="checkup-section-header b-padding-full v-margin-full">
    <div class="container-fluid">
      <div class="container-content">
        {{> checkup_progress progress=95}}
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              <img src="{{~>asset_url url='images/icon-confirm@2x.png'~}}" title="Confirmation" class="icon" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
              <h1 class="mdc-typography--headline3">Confirmation</h1>
              <div class="mdc-typography--body1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-content">
      <div class="mdc-typography--body2">
        * required information
      </div>

      <div class="question-block mdc-elevation--z3">
        <div class="question">
          <h2 class="mdc-typography--headline5 question-title">If you could tackle one digital project in the next three months, what would that be?</h2>
        </div>
        <div class="answer-block">
          <textarea name="next_project"></textarea>
        </div>
      </div>

      <div class="question-block mdc-elevation--z3">
        <div class="question">
          <h2 class="mdc-typography--headline5 question-title">What are the top barriers to digital change in your organisation?</h2>
        </div>
        <div class="answer-block">
          <textarea name="barriers"></textarea>
        </div>
      </div>

      <div class="question-block mdc-elevation--z3">
        <div class="question">
          <h2 class="mdc-typography--headline5 question-title">Would you like additional support from a local infrastructure organisation based on your responses? *</h2>
          <div class="mdc-typography--body1 question-description">This could be funding, events, training and 1:1 support</div>
        </div>
        <ul class="answer-block">
          <li class="answer">{{> components_radio_button label="Yes please - I'd like support to help put this into action" id="yes" name="support" value="true"}}</li>
          <li class="answer">{{> components_radio_button label="No thanks!" id="no" name="support" value="false"}}</li>
        </ul>
      </div>

      <div class="cta b-padding-full">
        <button type="submit" class="mdc-button mdc-button--raised">Submit</button>
      </div>
    </div>
  </div>
</form>
{{else}}
{{> checkup_error}}
{{/ifAll}}