<div class="checkup-section b-padding-full" id="checkup-results">
  <div class="checkup-section-header b-padding-full v-margin-full">
    <div class="container-fluid">
      <div class="container-content">
        {{> checkup_progress progress=100}}
        <h1 class="mdc-typography--headline3">Your checkup results</h1>
        <div class="mdc-typography--body1"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-content">
      Your overall score

    </div>
  </div>
</div>