@each $name, $colour in $colours {
  $light: lighten($colour, 15%);
  $dark: darken($colour, 15%); 
  
  @if $name == primary {
    $mdc-theme--primary: $colour;
    $mdc-theme--primary-light: $light;
    $mdc-theme--primary-dark: $dark;
  } @else if $name == secondary {
    $mdc-theme--secondary: $colour;
    $mdc-theme--secondary-light: $light;
    $mdc-theme--secondary-dark: $dark;
  } @else if $name == background {
    $mdc-theme--background: $colour;
    $mdc-theme--background-light: $light;
    $mdc-theme--background-dark: $dark;
  } @else if $name == surface {
    $mdc-theme--surface: $colour;
    $mdc-theme--surface-light: $light;
    $mdc-theme--surface-dark: $dark;
  }
  
  .mdc-theme--#{$name} { color: $colour; }
  .mdc-theme--#{$name}-light { color: $light; }
  .mdc-theme--#{$name}-dark { color: $dark; }

  .mdc-theme--#{$name}-bg { background-color: $colour; }
  .mdc-theme--#{$name}-light-bg { background-color: $light; }
  .mdc-theme--#{$name}-dark-bg { background-color: $dark; }

  .mdc-theme--on-#{$name} { 
    @if mdc-theme-contrast-tone($colour) == 'light' {
      color: #ffffff; 
    } @else {
      color: #000000;
    }
  }
  .mdc-theme--on-#{$name}-light {
    @if mdc-theme-contrast-tone($light) == 'light' {
      color: #ffffff; 
    } @else {
      color: #000000;
    }
  }
  .mdc-theme--on-#{$name}-dark {
    @if mdc-theme-contrast-tone($dark) == 'light' {
      color: #ffffff; 
    } @else {
      color: #000000;
    }
  }
}