$mdc-theme-primary: #178737;
$mdc-theme-primary-light: #6CC439;
$mdc-theme-primary-dark: #0E5D24;

$mdc-theme-complimentary: #c6dabf;
$mdc-theme-complimentary-light: #ecf2e9;
$mdc-theme-complimentary-dark: #d9e6d4;

$mdc-theme-secondary: #E0E0E0; // Gray 300
$mdc-theme-secondary-light: #F5F5F5; // Gray 100
$mdc-theme-secondary-dark: #212121; // Gray 900

$mdc-theme-footer: #37474F; // Blue Gray 800
$mdc-theme-footer-light: #455A64; // Blue Gray 700
$mdc-theme-footer-dark: #263238; // Blue Gray 900

$mdc-theme-error: #A9201E;

$mdc-theme-tfn: #3b9db1;

$unit: 1rem;

$colours: (
  primary: #68C53E,
  secondary: #689f38,
  info: #4779af,
  success: #4caf50,
  warning: #8b6d11,
  error: #d32f2f
);

@import "./sites/fundingscotland/scss/_base.scss";
