$mdc-theme-primary: #00536D;
$mdc-theme-primary-light: lighten($mdc-theme-primary, 15%);
$mdc-theme-primary-dark: darken($mdc-theme-primary, 15%);

$mdc-theme-secondary: #C2CFDD; // Gray 300
$mdc-theme-secondary-light: lighten($mdc-theme-secondary, 15%);
$mdc-theme-secondary-dark: darken($mdc-theme-secondary, 15%);

$mdc-theme-background: #ffffff;
$mdc-theme-background-light: #ffffff;
$mdc-theme-background-dark: #bbbbbb;

$mdc-theme-surface: #d6fab6;
$mdc-theme-surface-light: lighten($mdc-theme-surface, 15%);
$mdc-theme-surface-dark: darken($mdc-theme-surface, 15%);

$mdc-theme-complimentary: #c6dabf;
$mdc-theme-complimentary-light: #ecf2e9;
$mdc-theme-complimentary-dark: #d9e6d4;

$mdc-theme-footer: #37474F; // Blue Gray 800
$mdc-theme-footer-light: #455A64; // Blue Gray 700
$mdc-theme-footer-dark: #263238; // Blue Gray 900

$mdc-theme-success: #009966;
$mdc-theme-success-light: lighten($mdc-theme-success, 15%);
$mdc-theme-success-dark: darken($mdc-theme-success, 15%);

$mdc-theme-info: #663399;
$mdc-theme-info-light: lighten($mdc-theme-info, 15%);
$mdc-theme-info-dark: darken($mdc-theme-info, 15%);

$mdc-theme-warning: #f35958;
$mdc-theme-warning-light: lighten($mdc-theme-warning, 15%);
$mdc-theme-warning-dark: darken($mdc-theme-warning, 15%);

$mdc-theme-error: #de3027;
$mdc-theme-error-light: lighten($mdc-theme-error, 15%);
$mdc-theme-error-dark: darken($mdc-theme-error, 15%);

$mdc-theme-tfn: #3b9db1;
$mdc-theme-tfn-light: lighten($mdc-theme-tfn, 15%);
$mdc-theme-tfn-dark: darken($mdc-theme-tfn, 15%);

$unit: 1rem;

@import "./sites/fundingscotland/scss/_base.scss";

header {
  .container-fluid {
    .mdc-top-app-bar__row.mdc-top-app-bar__upper {
      height: 245px;
      background-color: $mdc-theme-primary-light;
    }
  }
}