<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Illustration" class="responsive-img hide-on-med-and-up" loading="lazy" />
      <h1>Sign Up & Skill Up for a Digitally Smarter Scotland</h1>
      <p>
        We are on a mission: to give everyone in Scotland the essential digital skills they need to do their jobs, live their lives, and confidently use different digital services. To do this, we need your help&hellip;
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Illustration" class="responsive-img" loading="lazy" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner description">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr />
    </div>
  </div>
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Charter</h1>
      <p>
        Scotland's Digital Participation Charter helps your organisation take a step towards a digitally smarter Scotland. <a href="/charter">Find out about our pledges</a> and <a href="/charter/sign-up">sign up</a>.
      </p>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Skill-Up-Scotland-RGB-04.png" alt="Illustration" class="responsive-img" loading="lazy" />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Skills</h1>
      <h2>Toolkit</h2>
      <p>
        We developed the Essential Digital Skills Toolkit in consultation with over 60 organisations, to support individuals, groups and organisations to measure their digital skills in life and in the workplace. <a href="/skills/toolkit">Find out more</a>.
      </p>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Back-The-Basics-RGB-04.png" alt="Illustration" class="responsive-img" loading="lazy" />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Resources</h1>
      <h2>Funding</h2>
      <p>
        The Digital Participation Charter Fund, supported by the Scottish Government and BT, invests in community digital participation projects across Scotland. <a href="https://scvo.org/digital/participation/charter-fund">Find out more</a>.
      </p>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Illustration" class="responsive-img" loading="lazy" />
    </div>
  </div>
</div>