<div id="detailed-results-container" class="container-content content-notes">
  <h2 class="mdc-typography--headline4">Add your details</h2>

  <div class="mdc-typography--headline6">
      Thank you for signing up to the Saltire Awards! Please add your details below
  </div>

  <form id="user-details-form" action="/submit-user-details?redirect=true" method="POST">

    {{>account_details_form_fields}}

    <div class="mdc-card mdc-elevation--z0">
      <div class="mdc-card__info--content-primary">
        <div class="mdc-card__info--content-primary-title mdc-typography--headline4 x-padding">
          Sign up
        </div>
      </div>
      <div class="l-margin-full r-margin-full">
        <div class="mdc-card__info x-padding-full mdc-theme--primary-bg mdc-theme--on-primary" id="sign-up-message">
          <span id="form-message"></span>
        </div>
      </div>
      <div class="mdc-card__info x-padding-full">
        <div class="mdc-typography--body1" id="form-section-email">
          {{> account_sign_in_social loaderSelector="#sign-up-loader" messageSelector="#sign-up-message"}}

          <div class="middle-line-text">
            <span>or</span>
          </div>
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
            <input type="email" id="sign-up-email" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off" />
            <label class="mdc-floating-label" for="sign-up-email">
              Email
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
            <input type="email" id="sign-up-email-confirm" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off" />
            <label class="mdc-floating-label" for="sign-up-email-confirm">
              Confirm email
            </label>
            <div class="mdc-line-ripple"></div>
          </div>

          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-key mdc-text-field__icon" tabindex="-1"></span>
            <input type="password" id="sign-up-password" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off" />
            <label class="mdc-floating-label" for="sign-up-password">
              Password
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-key mdc-text-field__icon" tabindex="-1"></span>
            <input type="password" id="sign-up-password-confirm" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off" />
            <label class="mdc-floating-label" for="sign-up-password-confirm">
              Confirm password
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>


      </div>

      <div id="form-section-sign-up-buttons">
        <button class="mdc-button mdc-button--raised" type="submit" id="sign-up-submit">
          Sign up
        </button>
        <div class="mdc-typography--body1 v-margin-full">
          Already have an account? <a href="/sign-in">Sign in</a>
        </div>
        <div class="mdc-typography--body1 v-margin-full">
          Read our <a href="/privacy" target="_blank">privacy notice</a>
        </div>
      </div>
      <div class="card-loader" id="sign-up-loader">
        <div class="card-loader-background"></div>
        <div class="card-loader-inner">
          <span class="far fa-2x fa-spinner-third fa-spin"></span>
        </div>
      </div>
    </div>

  </form>
</div>

{{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}
<script>
  function preSubmit() {
    var form = document.getElementById("user-details-form");
    var isValid = form.checkValidity();
    if (isValid) {
      onSubmit();
    }

  }
  function onSubmit() {
    document.getElementById("user-details-form").submit();
  }
</script>