<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Toolkit</h1>
      <p>
        <iframe src="https://www.surveygizmo.eu/s3/90124961/Essential-Digital-Skills" frameborder="0" width="100%" height="500" style="overflow:hidden"></iframe>
      </p>
    </div>
  </div>
</div>