<div class="container-content fundingscotland-page t-padding">
  <div class="mdc-card list h-padding-full b-padding-full t-margin b-margin-full mdc-elevation--z3">
    <h1 class="mdc-typography--headline4">
      Terms & conditions
    </h1>
    <h3>Who we are</h3>
    <p>
      Funding Scotland is a free online funding search. It is operated by the Scottish Council for Voluntary Organisations (SCVO). SCVO is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland SC003558. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
    </p>
    <p>
      By using Funding Scotland you agree to the following terms and conditions – please read them carefully. <a href="/privacy">Please also read the Funding Scotland privacy policy</a>.
    </p>
    <p>
      If you follow a link from Funding Scotland that takes you to another website that is not owned or operated by SCVO, you must also comply with the terms and conditions of those websites.
    </p>
    <h3>Information available at Funding Scotland</h3>
    <p>
      Funding Scotland provides access to basic information on finding funding opportunities available in Scotland and signposts to sources of further information.
    </p>
    <p>
      Inclusion of a funding opportunity on Funding Scotland does not represent endorsement or promotion.
    </p>
    <p>
      We are constantly updating Funding Scotland but we cannot guarantee that it is completely accurate or up-to-date at all times.
    </p>
    <p>
      There may be occasions when you cannot access the site but we aim to rectify any problems as soon as we can.
    </p>
    <h3>Intellectual property rights</h3>
    <p>
      SCVO is the owner or licensee of all the intellectual property rights in Funding Scotland and in the material published on it.
    </p>
    <p>
      You may print off or download information for personal use but you must always acknowledge Funding Scotland as the source, and you must not use any of the website content for commercial purposes without SCVO’s permission.
    </p>
    <p>
      Please respect our rights.
    </p>
    <h3>Our liability</h3>
    <p>
      The information provided on Funding Scotland does not constitute advice. It is entirely your choice to decide how to act on the information given. We are not liable for any outcome.
    </p>
    <p>
      Funding Scotland is for domestic and personal use only. It should not be used for commercial purposes and SCVO cannot be held liable for anything that happens if you use it for commercial or business purposes without SCVO’s permission.
    </p>
    <p>
      We are not liable for any loss or damage caused by a bug, virus or similar that might infect your computer or systems due to your use of Funding Scotland or any of the websites linked to from Funding Scotland. It is your responsibility to protect your computer and systems using the relevant software.
    </p>
    <h3>Your conduct</h3>
    <p>
      Please use Funding Scotland respectfully, in line with these terms and conditions, and in line with Scots law.
    </p>
    <h3>How to contact us</h3>
    <p>
      You can write to us at the address above or contact us by email or phone at:
    </p>
    <ul>
      <li><a href="mailto:fundingscotland@scvo.org.uk">fundingscotland@scvo.org.uk</a></li>
      <li>0800 169 0022</li>
    </ul>
  </div>
</div>