<button type="button" class="mdc-button {{extraClasses}}" 
    data-hide-fund-id="{{id}}" 
    data-hide-fund-name="{{name}}"
    data-hide-fund-redirect="{{default redirect "/"}}">
  Hide fund  
</button>