<h1 class="header-text">
  <a href="/">
    <img src="https://storage.googleapis.com/scvo-assets/assets/images/fs-legacy-logo.png" />
  </a>
  <span class="header-text-banner">
    {{#if branded ~}}
    Provided by <a href="https://fundingscotland.com">Funding Scotland</a>
    {{/if ~}}
  </span>
</h1>