<h1 class="header-text">
  <a href="/">
    <img src="{{~>asset_url url=(concat 'sub-sites/' @root.data.currentSite.name '/logo.png')~}}" />
  </a>
  <span class="header-text-banner">
    {{#if branded ~}}
    Provided by <a href="https://fundingscotland.com">Funding Scotland</a>
    {{/if ~}}
  </span>
</h1>