<div class="mdc-theme--secondary-bg mdc-theme--on-secondary x-padding mdc-theme--secondary-dark-border border rounded b-margin-full">
  <ul class="fa-ul">
    <li class="mdc-typography--body1">
      <span class="fa-li"><span class="far fa-info-circle"></span></span>
      With a premium account you can save your search which allows you to go back and run a complex search again easily, and turn on email alerts for new funds matching your requirements.
    </li>
  </ul>
</div>

{{> upgrade_ad}}
