<div class="mdc-theme--secondary-bg mdc-theme--on-secondary x-padding-full mdc-theme--secondary-dark-border border rounded b-margin-full">
  <ul class="fa-ul">
    <li class="mdc-typography--body1">
      <span class="fa-li"><span class="far fa-info-circle"></span></span>
      This page allows you to organise funds you are interested in. Lists can be downloaded as a full report of each fund (including any notes you have made) as a PDF. You can also subscribe to receive email updates about any changes to funds in each of your lists.
    </li>
  </ul>
</div>

{{> upgrade_ad}}
