<div class="mdc-theme--secondary-bg mdc-theme--on-secondary x-padding mdc-theme--secondary-dark-border border rounded b-margin-full">
  <ul class="fa-ul">
    <li class="mdc-typography--body1">
      <span class="fa-li"><span class="far fa-info-circle"></span></span>
      With a premium account you can organise funds into lists that can be downloaded as a PDF showing full report all details we have available (including any notes you have made). You can also subscribe to receive email updates when we update information about funds in your lists.
    </li>
  </ul>
</div>

{{> upgrade_ad}}
