{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<title>SCVO Evidence Library</title>
<meta property="og:title" content="SCVO Evidence Library" data-dynamic="true">
{{else}}
<title>SCVO – Scottish Council for Voluntary Organisations</title>
<meta property="og:title" content="SCVO – Scottish Council for Voluntary Organisations" data-dynamic="true">
{{/if ~}}