{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<title>SCVO Evidence Library</title>
<meta property="og:title" content="SCVO Evidence Library" data-dynamic="true">
<link rel="alternate" type="application/rss+xml" title="SCVO – Posts about {{#each @root.data.primaryResponse.hits.hits.[0]._source.categories_slug}}{{#compare this "===" (lastItem (split @root.request.params.path '_'))}}{{{lookup @root.data.primaryResponse.hits.hits.[0]._source.categories @index}}}{{/compare}}{{/each}}" href="https://scvo.org{{@root.request.params.uri.pathname}}?_view=rss" />
{{else}}
<title>SCVO – Scottish Council for Voluntary Organisations</title>
<meta property="og:title" content="SCVO – Scottish Council for Voluntary Organisations" data-dynamic="true">
{{/if ~}}